<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Sales</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>

<form th:action="@{/properties/sales/}" th:object="${propertyForm}" method="get" style="padding: 20px">
    Maximum Price: <input type="text" th:field="*{maxPrice}" />
    <br>
    Minumum Beds: <input type="text" th:field="*{minBeds}" />
<!--    <br>-->
<!--    Within <input type="text" name="distance"> KM of location-->
<!--    <br>-->
<!--    Select up to five counties to search: <br>-->
<!--    <input type = "checkbox" name="carlow" value="on"> Carlow<br>-->
<!--    <input type = "checkbox" name="cavan" value="on"> Cavan<br>-->
<!--    <input type = "checkbox" name="clare" value="on"> Clare<br>-->
<!--    <input type = "checkbox" name="cork" value="on"> Cork<br>-->
<!--    <input type = "checkbox" name="donegal" value="on"> Donegal<br>-->
<!--    <input type = "checkbox" name="dublin" value="on"> Dublin<br>-->
<!--    <input type = "checkbox" name="galway" value="on"> Galway<br>-->
<!--    <input type = "checkbox" name="kerry" value="on"> Kerry<br>-->
<!--    <input type = "checkbox" name="kildare" value="on"> Kildare<br>-->
<!--    <input type = "checkbox" name="kilkenny" value="on"> Kilkenny<br>-->
<!--    <input type = "checkbox" name="laois" value="on"> Laois<br>-->
<!--    <input type = "checkbox" name="leitrim" value="on"> Leitrim<br>-->
<!--    <input type = "checkbox" name="limerick" value="on"> Limerick<br>-->
<!--    <input type = "checkbox" name="longford" value="on"> Longford<br>-->
<!--    <input type = "checkbox" name="louth" value="on"> Louth<br>-->
<!--    <input type = "checkbox" name="mayo" value="on"> Mayo<br>-->
<!--    <input type = "checkbox" name="meath" value="on"> Meath<br>-->
<!--    <input type = "checkbox" name="monaghan" value="on"> Monaghan<br>-->
<!--    <input type = "checkbox" name="offaly" value="on"> Offaly<br>-->
<!--    <input type = "checkbox" name="roscommon" value="on"> Roscommon<br>-->
<!--    <input type = "checkbox" name="sligo" value="on"> Sligo<br>-->
<!--    <input type = "checkbox" name="tipperary" value="on"> Tipperary<br>-->
<!--    <input type = "checkbox" name="waterford" value="on"> Waterford<br>-->
<!--    <input type = "checkbox" name="westmeath" value="on"> Westmeath<br>-->
<!--    <input type = "checkbox" name="wexford" value="on"> Wexford<br>-->
<!--    <input type = "checkbox" name="wicklow" value="on"> Wicklow<br>-->

    <button type="submit" class="btn btn-default">Search</button>
</form>

</body>
</html>